# Python
__pycache__/
*.pyc
.venv/
db.sqlite3
backend/media/
backend/staticfiles/

# Node
node_modules/
frontend/dist/

# Flutter
mobile/.dart_tool/
mobile/build/
mobile/.flutter-plugins*
mobile/android/.gradle/
mobile/ios/Pods/

# Env & IDE
.env
.idea/
.vscode/
*.log
